html 
    body
        h1 Ini Halaman Contoh 3
        table 
            tr 
                td Nama 
                td :
                td=nama 
            tr 
                td Alamat 
                td :
                td=alamat
